[submodule "DAY00"]
	path = DAY00
	url = git@github.com:NourMellal/DAY00.git
	branch = main
[submodule "DAY01"]
	path = DAY01
	url = git@github.com:NourMellal/DAY01.git
[submodule "DAY02"]
	path = DAY02
	url = git@github.com:NourMellal/DAY02.git
[submodule "DAY03"]
	path = DAY03
	url = git@github.com:NourMellal/DAY03.git
